<!doctype <!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Robot</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" type="text/css" href="main.css">

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="robot.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="logo col-lg-3 col-md-4 col-sm-6 col-xs-12">My name is Bob! Go!
    </div>
    <div class="nav col-lg-4 col-md-4 col-sm-6 col-xs-12">Table size x | y 
      <input class="sh" type="text"></input>
      <input class="ws" type="text"></input>
      <button id="bt">SET</button>
    </div>
  </div>
  <div class="row">
    <div class="content col-xs-12 col-md-12 col-lg-12">
      <div id="pole">
        <img src="/assets/robot.png" id="bob"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="foot col-xs-12 col-md-12 col-lg-12">Bob - Robot Bob!</div>
  </div>
</div>
</body>
</html>
